@font-face {
    font-family: "Source Code Pro";
    src: url('Fonts/SourceCodePro-ExtraLight.ttf');
    src: url('Fonts/SourceCodePro-Regular.ttf') format('truetype'),
    url('Fonts/SourceCodePro-SemiBold.ttf') format('truetype ');
}


body {
    font-family: "Source Code Pro", monospace;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.credits-box {
    background-color: lemonchiffon;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 4rem;
    color: forestgreen;
}

h2 {
    color: royalblue;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.names-list {
    margin-bottom: 2rem;
}

.names-list p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.thanks {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    color: royalblue;
    animation: bounce 1.5s ease-in-out infinite;
    padding-bottom: 2rem;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(1em);
    }
    50% {
        transform: translateY(-1rem);
    }
}

#takaisin {
    background-color: white;
    margin-top: 2rem;
    border: 1px solid black;
    color: forestgreen;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    width: 16rem;
}

#takaisin:hover {
    background-color: bisque;
    outline: 5px solid black;
}
