@font-face {
    font-family: "Source Code Pro";
    src: url('Fonts/SourceCodePro-ExtraLight.ttf');
    src: url('Fonts/SourceCodePro-Regular.ttf') format('truetype'),
        url('Fonts/SourceCodePro-SemiBold.ttf') format('truetype ');
}

body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    text-shadow: 0 0 1em;
    text-align: center;
}

h1 {
    color: forestgreen;
    background-color: lemonchiffon;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
}

img {
    height: 16rem;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group button {
    background-color: aliceblue;
    margin-top: 2rem;
    border: 1px solid black;
    color: forestgreen;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    display: block;
    width: 16rem;
}

.button-group button:hover {
    background-color: bisque;
    outline: 5px solid black;
}