body {
    background-color: burlywood;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

#back_to_menu {
    position: absolute;
    top: 2rem;
    right: 30rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    background-color: darkolivegreen;
    color: white;
    cursor: pointer;
}

#back_to_menu:hover {
    background-color: olivedrab;
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.status-map-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.status-box, .map-box {
    border: 2px solid black;
    padding: 1em;
    background-color: lemonchiffon;
    border-radius: 1em;
    flex: 1;
}

.status-box img {
    width: 10rem;
    height: 10rem;
}

.map-box img {
    width: 40rem;
    height: 25rem;
}
